body {
    /* <span>Photo by <a href="https://unsplash.com/@nypl?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">The New York Public Library</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span> */
    /*background-image: url("/public/images/backgrounds/earth-rise.jpg");*/
    /* <span>Photo by <a href="https://unsplash.com/@vishyx?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Vishy Kathediya</a> on <a href="https://unsplash.com/s/photos/himachal-pradesh?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
    /* Alternate picture: vishy-kathediya */
    /*background-image: url("/public/images/backgrounds/vishy-kathediya.jpg");*/
    /*<span>Photo by <a href="https://unsplash.com/@suicide_chewbacca?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Ashwini Chaudhary</a> on <a href="https://unsplash.com/s/photos/himachal-pradesh?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>*/
    background-image: url("/public/images/backgrounds/ashwini-chaudhary.jpg");
    background-size: cover;
    width: 100%;
    align-content: center;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
}
/*h3, h4 in index.html and other pages */
h3, h4 {
    color: white;
    text-align: center;
    margin: 0.5rem auto;
}