/*About page cards */

/* Remove extra left and right margins, due to padding */
.row {
    width: 90%;
    margin: 50px auto auto auto;
    display: flex;
    justify-content: center;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 10px 10px 10px 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    padding: 16px;
    border-radius: 5px;
    text-align: center;
    background-color: dimgrey;
}

.card:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0.5, 0, 0.2);
}

.card img {
    border-radius: 10px 10px 0 0;
    width: 100%
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

/* unvisited link */
.card a:link {
    color: whitesmoke;
    text-decoration: none;
}

/* visited link */
.card a:visited {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

/* mouse over link */
.card a:hover {
    color: hotpink;
    text-decoration: underline overline hotpink;
}

/* selected link */
.card a:active {
    color: whitesmoke;
    text-decoration: none;
}