/*About page cards */

/* Remove extra left and right margins, due to padding */
.cards {
    width: 95%;
    margin: 50px auto auto auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    transition: 0.3s;
    width: 20%;
    padding: 1rem;
    border-radius: .25rem;
    text-align: center;
    background-color: #150d1c;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 #efefef;
}

.card:hover {
    box-shadow: 0 1rem 1rem 0 #ffee587F;
}

.card img {
    border-radius: 1rem 1rem 0 0;
    width: 100%
}

/* unvisited link */
.card a:link {
    color: whitesmoke;
    text-decoration: none;
}

/* visited link */
.card a:visited {
    color: lightgoldenrodyellow;
    text-decoration: none;
}

/* mouse over link */
.card a:hover {
    color: hotpink;
    text-decoration: underline overline hotpink;
}

/* selected link */
.card a:active {
    color: whitesmoke;
    text-decoration: none;
}

/* Responsive cards */
@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}