<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    {{template "head"}}
    <link rel="stylesheet" href="/public/css/initial/socialcard.css">
</head>
<body>
<!-- Horizontal navigation section: Fill in navigation template -->
{{template "navflex" .Active}}

<!-- Table for Header key/values -->
<section class="about-connect-info-cards">
    <h3> To connect use these channels:</h3>

    <!-- Add social cards -->
    {{template "socialcard" .Data}}
</section>
<!-- Footer quote -->
{{template "footer"}}
</body>
</html>
