<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The GPL</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/about.css">
    <link rel="stylesheet" href="public/css/footer.css">
    <link rel="icon" href="public/images/icons/favicon-16x16.png">
</head>
<body>
<!-- Horizontal navigation section: Fill in navigation template -->
{{template "nav" .Active}}

<div class="row">
    <div class="column">
        <div class="card">
            <img src="public/images/misc/boris-smokrovic.jpg" alt="Bird image">
            <h3>On Twitter</h3>
            <h4>Follow <a href="//twitter.com/rgplpaa/" target="_blank">@rgplpaa</a></h4>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="public/images/misc/rgplpaa.jpeg" alt="Linkedin image">
            <h3>On Linkedin</h3>
            <h4> <a href="//www.linkedin.com/in/ajaythakur/" target="_blank">@in/ajaythakur</a></h4>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="public/images/misc/ilya-pavlov.jpg" alt="Code image">
            <h3>On Github</h3>
            <h4><a href="//github.com/opendroid/the-gpl" target="_blank">@OpenDroid</a></h4>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="public/images/misc/donovan-silva.jpg" alt="Code image">
            <h3>On YouTube</h3>
            <h4><a href="//www.youtube.com/c/AjayThakur" target="_blank">@OpenWeb</a></h4>
        </div>
    </div>
</div>

<!-- Footer quote -->
{{template "footer"}}
</body>
</html>
