{{define "footer"}}
    <footer>
        <hr>
        <q>The time is always right to do what is right.</q>
        <p><cite>Oberlin College commencement speech</cite> by Martin Luther King Jr. in 1965.</p>
    </footer>
{{end}}