<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The GPL</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/lissajous.css">
    <link rel="stylesheet" href="public/css/footer.css">
    <link rel="icon" href="public/images/icons/favicon-16x16.png">
</head>
<body>
<!-- Horizontal navigation section: Fill in navigation template -->
{{template "nav" .Active}}

<!-- Table for Header key/values -->
<h3>Lissajous Figures</h3>

<!-- Add for image -->
<img class="lissajous" src="lisimage" alt="Computed lissajous image">

<!-- Footer quote -->
{{template "footer"}}
</body>
</html>
