<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Active}}</title>
    {{template "head"}}
</head>
<body>

<main role="main">
    <!-- Horizontal navigation section: Fill in navigation template -->
    {{template "navflex" .Active}}

    <section class="surfaces-info">
        <!-- Table for Header key/values -->
        <h3>{{.Heading}}</h3>

        <!-- Image SVG Content -->
        {{.Data}}
    </section>
    <!-- Footer quote -->
    {{template "footer"}}
</main>
</body>
</html>
