<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The GPL</title>
    <link rel="stylesheet" href="public/css/main.css">
    <link rel="stylesheet" href="public/css/nav.css">
    <link rel="stylesheet" href="public/css/lissajous.css">
    <link rel="stylesheet" href="public/css/footer.css">
    <link rel="icon" href="public/images/icons/favicon-16x16.png">
</head>
<body>
<!-- Horizontal navigation section: Fill in navigation template -->
{{template "nav" .Active}}

<!-- Table for Header key/values -->
<h3>Various Surfaces</h3>

<!-- Add SVG egg image -->
<img src="public/images/file2.svg" alt="Computed Square Egg surface">
<object type="image/svg+xml" data="public/images/file2.svg" style="width:100%"></object>
{{/*<embed src="public/images/egg.svg" type="image/svg+xml">*/}}

<!-- Footer quote -->
{{template "footer"}}
</body>
</html>
